ul.blog-type{
    list-style: none;
}
div.blog p.blog-info{
    margin-bottom: 0;
}
div.blog:not(:last-child){
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #e8e8e8;
}
div.blog h3{
    margin-top: 0.5em;
}
ul.blog-detail-info{
    list-style: none;
    margin-bottom: 1em;
}
ul.blog-detail-info li{
    display: inline-block;
    margin-right: 1em;
}
div.blog-content{
    text-indent: 2em;
    margin-bottom: 2em;
}
div.info-more{
    margin-top: 1.5em;
}
div.comment-area{
    margin-top: 2em;
}
h3.comment-area-title{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 0.4em;
}
div.django-ckeditor-widget{
    width: 100%;
}
div.comment{
    border-bottom: 1px dashed #cccccc;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}
div.reply{
    margin-left: 2em;
}
div#reply_content p{
    font-size: 1.5em;
}
div#reply_content_container{
    border: 1px solid #c1c0c0;
    background-color: #f19797;
    padding: 1em 1em 0.5em;
}
p#reply_title{
    border-bottom: 1px dashed #ccc;
    padding-bottom: 0.5em;
}
div.like {
    color: #337ab7;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 0.3em;
}
div.like .active{
    color: #f22;
}